.bar-container {
    background-color: black;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    ul {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .btn-lateral {
        border-radius: 6px;
        height: 50px;

        & img {
            width: 50px;
            height: 50px;
        }
    }

    p {
        color: white;
        font-size: 12px;
        writing-mode: vertical-rl;
        rotate: 180deg
    }
}