.keydata-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .keydata-item {
        display: flex;
        align-items: center;
        background-color: #FBFBFB;
        gap: 10px;
        padding: 20px;
        height: 100px;
        border-radius: 5px;

        .icon {
            border-radius: 6px;
            display: flex;
            
            & img {
                width: 53px;

            }
        }
        .calorie-icon {
            background-color: #FBEAEA;
        }
        .protein-icon {
            background-color:#E9F4FB;
        }
        .glucid-icon {
            background-color:#FBF6E5;
        }
        .lipid-icon {
            background-color:#FBEAEF;
        }

        img {
            padding: 20px;
        }

        .keydata-values {
            .keydata-data {
                font-size: 16px;
                font-weight: bold;
            }
            .keydata-label {

                font-size: 12px;
            }
        }
    }
}