.header-container {
    background-color: black;
    padding: 10px 80px 10px 28px;
    height: 90px;
    display: flex;
    align-items: center;

    & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;

        & .logo {
            background-position: center;
            background-size: cover;
            border-radius: 25px;
            width: 200px;
        }
        
        & li {
            font-size: 20px;
            color: white;
        }
        
    }
}